{% extends "layout.html" %}

{% block content %}

<div class="container"></div>
<div class="card mt-5 mx-auto mb-5 w-75 customShadow">
    <div class="card-header bg-gris-01 d-flex">
        <img class="rounded-lg ml-auto" src="{{ url_for('static', filename='img/android/gestension_logo_512px.png') }}" width="auto" height="100px" alt="Card image">
    </div>
    
    <div class="card-body">
        <h3 class="card-title">GesTension</h3>
        <h5 class="card-text font-weight-bold pt-2">Version:<span class="font-weight-normal ml-2">En desarrollo</span></h5>
        <h5 class="card-text font-weight-bold pt-2">Desarrollador:<a class="text-decoration-none text-info ml-3" href="{{ url_for('home') }}">rgilgil</a></p>
        <h5 class="card-text font-weight-bold pt-2">Categoria:<span class="font-weight-normal ml-2">Salud</span></h5>
        <h5 class="card-text font-weight-bold pt-2">Descripcion:</h5>
        <h5 class="font-weight-normal pt-2">
            Aplicación para llevar un registro de las tomas de tension, indicado para personas con la tension alta 
            y poder llevar un registro que puede exportarse a pdf para mandarselo a tu medico o persona a cargo de controlar
            el estado de la tension.
        </h5>
        <h5 class="card-text font-weight-bold pt-2">Caracteristicas:</h5>  
        <h5 class="font-weight-normal pt-2">
            -Almacenamiento de datos en base de datos local, no son necesarios datos ni 
            compartir ningun dato personal.
        </h5>
        <h5 class="font-weight-normal pt-2">
            -Permite exportar los informes con los datos a formato pdf.
        </h5>
        <h5 class="card-text font-weight-bold mt-4">Capturas de pantalla:</h5>  
        <div class="row text-center text-lg-left pt-2">
            <div class="col-lg-3 col-lg-3 col-6">
                <a href="{{ url_for('static', filename='img/logo_work_in_progress.png') }}" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail mx-auto" src="{{ url_for('static', filename='img/logo_work_in_progress.png') }}" alt="">
                </a>
            </div>
            
        </div>
    </div>


    <div class="card-footer bg-gris-01 p-4">
        <a class="btn-lg btn-secondary bg-gris-04 text-decoration-none font-weight-bold mb-2 ml-5 float-right" href="{{ url_for('static', filename='img/logo_work_in_progress.png') }}">Descargar</a>
        <a class="btn-lg btn-secondary bg-gris-04 text-decoration-none font-weight-bold mb-2 float-right" href="{{ url_for('static', filename='img/logo_work_in_progress.png') }}">Codigo Fuente</a>
    </div>
        
    
</div>

{% endblock %}