#main-grid{
    display: grid;
    grid-gap: 5vw;
    grid-auto-columns: minmax(100px, 200px);
    /*Definimos la ordenacion de las areas*/
    grid-template-areas: 
        "java python android javaScript";
    
    background-color: #ffffff;
    justify-content: center;
    margin-top: 2vw;
}
/* Definimos las areas del grid */
#main-grid > div:first-of-type{
    grid-area: java;
}

#main-grid > div:nth-child(2){
    grid-area: python;
}

#main-grid > div:nth-child(3){
    grid-area: android;
}

#main-grid > div:last-of-type{
    grid-area: javaScript;
}

@media(max-width: 800px){
    #main-grid{
        display: grid;
        grid-template-areas: 
        "java python"
        "android javaScript";
    }
}

@media(max-width: 500px){
    #main-grid{
        display: grid;
        grid-template-areas: 
        "java"
        "python"
        "android"
        "javaScript";
    }
}
.mainCard {
    background: #ebebf0;
    border: #c8c8c8 1px solid;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 0px #b4b4b9bf;
}
.mainCard:hover{
    text-decoration: none;
    background: rgb(220, 220, 235);
    border: rgb(170, 170, 170) 1px solid;
}
.mainCard:active{
    text-decoration: none;
    background: rgb(235, 235, 240);
    box-shadow: 2.5px 2.5px 1.25px 0px #b4b4b9bf;
}
.mainCard-img{
    width: 100%;
    height: auto;
    padding: 5%;
    border-radius: 1rem;
}
.mainCard-text{
    display: flex;
    justify-content: center;
    width: 100%;
    color: #3174b9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    padding: 0.5em 0.5em 0em 0.5em;
    border-top: 2px solid #ffffff;
    margin-bottom: -0.5em;
}