.cml-2{
    margin-left: 1rem;
}
.cml-3{
    margin-left: 2rem;
}
.cmr-3{
    margin-right: 2rem;
}
.cml-5{
    margin-left: 4rem;
}


@media (max-width: 1400px) {
    .cml-2{
        margin-left: 0.75rem;
    }
    
    .cml-3{
        margin-left: 1.5rem;
    }
    .cmr-3{
        margin-right: 1.5rem;
    }
    .cml-5{
        margin-left: 3rem;
    }
}


@media (max-width: 1000px) {
    .cml-2{
        margin-left: 0.5rem;
    }
    
    .cml-3{
        margin-left: 1rem;
    }
    .cmr-3{
        margin-right: 1rem;
    }
    .cml-5{
        margin-left: 2rem;
    }
}


@media (max-width: 500px) {
    .cml-2{
        margin-left: 0.25rem;
    }
    
    .cml-3{
        margin-left: 0.5rem;
    }
    .cmr-3{
        margin-right: 0.5rem;
    }
    .cml-5{
        margin-left: 1rem;
    }
}

.w-85{
    width: 85%!important;
}