/*BackGround*/
.bg-navbar{
    background: #3174b9; /*rgb(49, 116, 185)*/
}

.bg-gris-01{
    background: rgb(235, 235, 240);
}

.bg-gris-02{
    background: rgb(220, 220, 235);
}

.bg-gris-03{
    background: rgb(184, 184, 198);
}

.bg-gris-04{
    background: #9d9dab;
}
