{% extends "layout.html" %}

{% block content %}

<div class="d-flex justify-content-center mt-3">
    <h2 class="custom-color-nav font-italic ">Curriculum Vitae</h2>
</div>

<div class="container rounded">
    <div id="accordion">
        <!--Pestaña de Datos personales-->
        <div class="card customShadow">
            <!--Cabecera-->
            <div class="card-header card-header-custom bg-gris-0" id="headingUno">
                <button class="boton custom-color-nav font-italic" data-toggle="collapse" data-target="#collapseUno" aria-expanded="true" aria-controls="collapseUno">
                    Datos personales
                </button>
            </div>
            <!--Fin cabecera-->
            <!--Cuerpo-->
            <div id="collapseUno" class="collapse" aria-labelledby="headingUno" data-parent="#accordion">
                <div class="card-body">
                    <div class="flexcont borde shadow">
                        <div class="p-3">
                            <p class="texto text-secondary texto-nombre cml-3">Rafael Gil Gil </p>
                            <p class="texto cml-5">Fecha de nacimiento: <span class="text-secondary texto-datos">03/05/1978</span></p>
                            <p class="texto cml-5">D.N.I.:<span class="text-secondary texto-datos">46877512Q</span></p>
                            <p class="texto cml-5">Dirección:<span class="text-secondary texto-datos">Av. Monasterio de El Escorial, 24</span></p>
                            <p class="texto cml-5">Codigo Postal:<span class="text-secondary texto-datos">28049 Madrid</span></p>
                            <p class="texto cml-5">Email:<span class="text-secondary texto-datos">gil.gil.rafael@gmail.com</span></p>
                            <p class="texto cml-5">Telefono:<span class="text-secondary texto-datos">609 22 52 39</span></p>    
                        </div>
            
                        <div class="p-3">
                            <img class="carnet" src="{{ url_for('static', filename='img/about/rgg_foto_carnet.png') }}" alt="foto carnet">
                        </div>    
                    </div>    
                </div>
            </div>
            <!--Fin cuerpo-->
        </div>
        <!--Fin pestaña de Datos personales-->
        <!--------------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------------->
        <!--Pestaña de Experiencia-->
        <div class="card customShadow">
            <!--Cabecera-->
            <div class="card-header card-header-custom bg-gris-0" id="headingDos">
                <button class="boton custom-color-nav font-italic" data-toggle="collapse" data-target="#collapseDos" aria-expanded="true" aria-controls="collapseDos">
                    Experiencia
                </button>
            </div>
            <!--Fin cabecera-->
            <!--Cuerpo-->
            <div id="collapseDos" class="collapse" aria-labelledby="headingDos" data-parent="#accordion">
                <!--Ficha Exp 00-->
                <div class="card-body">
                    <div class="flexcont borde shadow">
                        <div class="p-3">
                            <p class="texto text-secondary texto-puesto cml-3">Analista programador Junior</p>
                            <p class="texto texto-empresa cml-3">Cice (Practicas)</p>
                            <p class="texto texto-empresa cml-3">Diciembre 2020 - Enero 2021 (2 meses)</p>
                        </div>
                        <div class="p-3">
                            <img class="carnet cml-3" src="{{ url_for('static', filename='img/about/logo_cice_512px.png') }}" alt="logo empresa">
                        </div>
                        <!-------------------->    
                        <div class="detalles p-3">
                            <p class="texto texto-exp cml-5 mt-0">Realización de aplicación web para la gestión de las aulas.</p>
                            <p class="texto texto-exp cml-5 ">Diseño de la bbdd para la aplicación.</p>
                            <p class="texto texto-exp cml-5">Backend de la aplicación.</p>
                            <p class="texto texto-exp cml-5">Frontend de la aplicación.</p>
                            <p class="texto texto-exp cml-5">Test unitarios.</p>
                            <p class="texto texto-exp cml-5">Documentación, manual de usuario y manual de instalación.</p>
                            <p class="texto texto-exp cml-5">Aplicación Android con conexión a la aplicación.</p>
                        </div>
                        <!-------------------->
                        <div class="detalles pl-3 pr-3 pb-3">
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Java</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">J2EE</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">JSP</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">JUnit</span>
                            <!--Spring-->
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Spring</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Spring Framework</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Spring Boot</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Spring Data JPA</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Spring MVC</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Spring Security</span>
                            <!--Ide-->
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Eclipse</span>
                            <!--Persistencia-->
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">MySQL</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">SQL</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Apache Tomcat</span>
                            <!--Repositorios-->
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Maven</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Github</span>
                            <!--FrontEnd-->
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Html5</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Css3</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Bootstrap</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">JavaScript</span>
                            <!--Android-->
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Android</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Android SDK</span>
                            <!--Otros-->
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Trabajo en equipo</span>
                        </div>
                    </div>
                </div>
                <!--Fin ficha Exp 00-->
                <!--Ficha Exp 01-->
                <div class="card-body pt-0">
                    <div class="flexcont borde shadow">
                        <div class="p-3">
                            <p class="texto text-secondary texto-puesto cml-3">Tecnico de operaciones de datacenter</p>
                            <p class="texto texto-empresa cml-3">Grupo Gfi (Equipos informaticos)</p>
                            <p class="texto texto-empresa cml-3">Noviembre 2016 - Junio 2019 (2 años y 7 meses)</p>
                        </div>
                        <div class="p-3">
                            <img class="carnet cml-3" src="{{ url_for('static', filename='img/about/logo_gfi_512px.png') }}" alt="logo empresa">
                        </div>
                        <!-------------------->    
                        <div class="detalles p-3">
                            <p class="texto texto-exp cml-5 mt-0">Realización de manos remotas en caso de incidencia.</p>
                            <p class="texto texto-exp cml-5 ">Scorting de clientes y otros técnicos.</p>
                            <p class="texto texto-exp cml-5">Cambios de cintas.</p>
                            <p class="texto texto-exp cml-5">Cableado y manipulación de hardware</p>
                            <p class="texto texto-exp cml-5">Inventarios y control de almacén</p>
                            <p class="texto texto-exp cml-5">Chequeo del nodo</p>
                        </div>
                        <!-------------------->
                        <div class="detalles pl-3 pr-3 pb-3">
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Windows</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Linux</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Oracle DBA</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Redes informáticas</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Hardware informático</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Cableado</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Backup y Restore</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Resolución de problemas</span>
                        </div>
                    </div>
                </div>
                <!--Fin ficha Exp 01-->
                <!--Ficha Exp 02-->
                <div class="card-body pt-0">
                    <div class="flexcont borde shadow">
                        <div class="p-3">
                            <p class="texto text-secondary texto-puesto cml-3">Autonomo</p>
                            <p class="texto texto-empresa cml-3">Autónomo (Equipos informáticos)</p>
                            <p class="texto texto-empresa cml-3">Diciembre 2009 - Noviembre 2016 (6 años y 11 meses)</p>
                        </div>
                        <div class="p-3">
                            <img class="carnet cml-3" src="{{ url_for('static', filename='img/about/logo_autonomo_512px.png') }}" alt="logo empresa">
                        </div>    
                        <!-------------------->
                        <div class="detalles p-3">
                            <p class="texto texto-exp cml-5 mt-0">Servicio integral de instalación, configuración y mantenimiento de redes y equipos para pymes.</p>
                            <p class="texto texto-exp cml-5">Instalación, configuración y mantenimiento de redes.</p>
                            <p class="texto texto-exp cml-5">Montaje, instalación y actualización de equipos a nivel de hardware y de software.</p>
                            <p class="texto texto-exp cml-5">Instalaciones de Bases de datos, migraciones, tareas de mantenimiento y backups.</p>
                            <p class="texto texto-exp cml-5">Resolución de incidencias tanto presencial como en remoto.</p>
                        </div>
                        <!-------------------->
                        <div class="detalles pl-3 pr-3 pb-3">
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Windows</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Linux</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Instalación de software</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Redes informáticas</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Diseño de redes</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Cableado de redes</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Hardware informático</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">MySQL</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">PostgreSQL</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Microsoft SQL Server</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Bases de datos</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Uso de bases de datos</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Backup de bases de datos</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Backup y restore</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Servicios de acceso remoto</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Resolución de problemas</span>
                        </div>
                    </div>
                </div>
                <!--Fin ficha Exp 02-->
                <!--Ficha Exp 03-->
                <div class="card-body pt-0">
                    <div class="flexcont borde shadow">
                        <div class="p-3">
                            <p class="texto text-secondary texto-puesto cml-3">Monitor de informática</p>
                            <p class="texto texto-empresa cml-3">Universidad Europea de Madrid (Educación)</p>
                            <p class="texto texto-empresa cml-3">Noviembre 1999 - Junio 2001  (1año y 7 meses)</p>
                        </div>
                        <div class="p-3">
                            <img class="carnet cml-3" src="{{ url_for('static', filename='img/about/logo_uem_512px.png') }}" alt="logo empresa">
                        </div>    
                        <!-------------------->
                        <div class="detalles p-3">
                            <p class="texto texto-exp cml-5 mt-0">Dar soporte a los estudiantes que lo necesitasen en las aulas de informática y CAD.</p>
                            <p class="texto texto-exp cml-5">Configuración y mantenimiento de impresoras y plotters.</p>
                        </div>
                        <!-------------------->
                        <div class="detalles pl-3 pr-3 pb-3">
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Windows</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">AutoCad</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Instalación de software</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Hardware informático</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Impresoras</span>
                            <span class="badge badge-custom bg-gris-04 cml-3 mt-3">Gestión de impresión</span>
                        </div>
                    </div>
                </div>
                <!--Fin ficha Exp 03-->
            </div>
            <!--Fin cuerpo-->
        </div>
        <!--Fin pestaña de Experiencia-->
        <!--------------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------------->
        <!--Pestaña de Estudios-->
        <div class="card customShadow">
            <!--Cabecera-->
            <div class="card-header card-header-custom bg-gris-0" id="headingTres">
                <button class="boton custom-color-nav font-italic" data-toggle="collapse" data-target="#collapseTres" aria-expanded="true" aria-controls="collapseTres">
                    Estudios
                </button>
            </div>
            <!--Fin cabecera-->
            <!--Cuerpo-->
            <div id="collapseTres" class="collapse" aria-labelledby="headingTres" data-parent="#accordion">
                <!--Ficha Estudios 01-->
                <div class="card-body">
                    <div class="flexcont borde shadow tag">
                        <div class="w-100 pt-3 pl-3 pr-3">
                            <span class="text-secondary cml-3 mb-0">Estudios reglados</span>
                        </div>
                        <!-------------------->    
                        <div class="detalles">
                            <div class="p-3">
                                <span class="badge badge-estudios badge-info cml-3 pl-3 pr-3" title="Estudios universitarios">SUP</span>
                            </div>
                            <div class="w-75 p-3 cml-3">
                                <p class="texto text-secondary texto-puesto">Arquitecto</p>
                                <p class="texto texto-empresa">Universidad Alfonso X El Sabio</p>
                                <p class="texto texto-empresa">Septiembre 1996 - Julio 2012 (a falta del Proyecto Fin de Carrera)</p>
                            </div>
                        </div>
                        <!-------------------->
                        <div class="detalles">
                            <div class="p-3">
                                <span class="badge badge-estudios badge-info cml-3 pl-3 pr-3" title="Bachillerato">BTO</span>
                            </div>
                            <div class="w-75 p-3 cml-3">
                                <p class="texto text-secondary texto-puesto">Bachillerato</p>
                                <p class="texto texto-empresa">Colegio Zurbarán</p>
                                <p class="texto texto-empresa">Septiembre 1993 - Junio 1996</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin ficha Estudios 01-->
                <!--Ficha Estudios 02-->
                <div class="card-body pt-0">
                    <div class="flexcont borde shadow tag">
                        <div class="w-100 pt-3 pl-3 pr-3">
                            <span class="text-secondary cml-3 mb-0">Estudios no reglados</span>
                        </div>
                        <!-------------------->    
                        <div class="detalles">
                            <div class="p-3">
                                <span class="badge badge-estudios badge-secondary cml-3 pl-3 pr-3" title="Certificado profesionalidad">CER</span>
                            </div>
                            <div class="w-75 p-3 cml-3">
                                <p class="texto text-secondary texto-puesto">Programación de sistemasinformáticos (IFCT0609)</p>
                                <p class="texto texto-empresa">Cice</p>
                                <p class="texto texto-empresa">Enero 2020 - Septiembre 2020</p>
                            </div>
                        </div>
                        <!-------------------->
                        <div class="detalles">
                            <div class="p-3">
                                <span class="badge badge-estudios badge-secondary cml-3 pl-3 pr-3" title="Curso">CUR</span>
                            </div>
                            <div class="w-75 p-3 cml-3">
                                <p class="texto text-secondary texto-puesto">Administración avanzada de bases de datos ORACLE</p>
                                <p class="texto texto-empresa">CFTIC (Oracle University)</p>
                                <p class="texto texto-empresa">Septiembre 2016 - Diciembre 2016</p>
                            </div>
                        </div>
                        <!-------------------->
                        <div class="detalles">
                            <div class="p-3">
                                <span class="badge badge-estudios badge-secondary cml-3 pl-3 pr-3" title="Curso">CUR</span>
                            </div>
                            <div class="w-75 p-3 cml-3">
                                <p class="texto text-secondary texto-puesto">Administración de bases de datos ORACLE</p>
                                <p class="texto texto-empresa">CFTIC (Oracle University)</p>
                                <p class="texto texto-empresa">Febrero 2016 - Mayo 2016</p>
                            </div>
                        </div>
                        <!-------------------->
                        <div class="detalles">
                            <div class="p-3">
                                <span class="badge badge-estudios badge-secondary cml-3 pl-3 pr-3" title="Curso">CUR</span>
                            </div>
                            <div class="w-75 p-3 cml-3">
                                <p class="texto text-secondary texto-puesto">Fundamentos de administración de bases de datos ORACLE</p>
                                <p class="texto texto-empresa">CFTIC (Oracle University)</p>
                                <p class="texto texto-empresa">Septiembre 2015 - Diciembre 2015</p>
                            </div>
                        </div>
                        <!-------------------->
                        <div class="detalles">
                            <div class="p-3">
                                <span class="badge badge-estudios badge-secondary cml-3 pl-3 pr-3" title="Curso">CUR</span>
                            </div>
                            <div class="w-75 p-3 cml-3">
                                <p class="texto text-secondary texto-puesto">Administrador Basis - Nivel inicial</p>
                                <p class="texto texto-empresa">CvSoft</p>
                                <p class="texto texto-empresa">Junio 2015 - Agosto 2015</p>
                            </div>
                        </div>
                        <!-------------------->
                        <div class="detalles">
                            <div class="p-3">
                                <span class="badge badge-estudios badge-secondary cml-3 pl-3 pr-3" title="Curso">CUR</span>
                            </div>
                            <div class="w-75 p-3 cml-3">
                                <p class="texto text-secondary texto-puesto">Consultor Sap Logistica y Materiales (MM)</p>
                                <p class="texto texto-empresa">Centro formacion valengoya</p>
                                <p class="texto texto-empresa">Enero 2015 - Junio 2015</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin ficha Estudios 02-->
            </div>
            <!--Fin cuerpo-->
        </div>
        <!--Fin pestaña de Estudios-->
        <!--------------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------------->
        <!--Pestaña de Conocimientos-->
        <div class="card customShadow">
            <!--Cabecera-->
            <div class="card-header card-header-custom bg-gris-0" id="headingCuatro">
                <button class="boton custom-color-nav font-italic" data-toggle="collapse" data-target="#collapseCuatro" aria-expanded="true" aria-controls="collapseCuatro">
                    Conocimientos
                </button>
            </div>
            <!--Fin cabecera-->
            <!--Cuerpo-->
            <div id="collapseCuatro" class="collapse" aria-labelledby="headingCuatro" data-parent="#accordion">
                <!--Ficha Exp 01-->
                <div class="card-body">
                    <div class="flexcont borde shadow">
                        <div class="px-3 pb-3 cml-3 cmr-3">
                            <!--Nivel Alto-->
                            <span class="badge badge-custom bg-gris-04 mt-3">AutoCad<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Backup de bases de datos<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Backup y Restore<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Bbdd<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Bootstrap<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Cableado<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Diagnósticos de hardware<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Eclipse<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Gestión de impresión<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Instalación de hardware<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Impresoras<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Instalación de hardware<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Instalación de software<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">J2EE<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Java<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">JPA<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">JSP<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Linux<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Maven<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">MySQL<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Oracle<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Oracle 12c<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Python<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Resolución de problemas<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">RMAN<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Soporte de hardware<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Spring<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Spring Boot<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Spring Framework<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Spring-mvc<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">SQL<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Trabajo en equipo<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Virtualbox<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">WebServices<span class="badge badge-info text-white ml-2">3</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Windows<span class="badge badge-info text-white ml-2">3</span></span>
                            <!--Nivel Medio-->
                            <span class="badge badge-custom bg-gris-04 mt-3">3D Studio Max<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Android<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Android SDK<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Apache Tomcat<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">ASM<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">CSS3<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Diseño de redes<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Git<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Github<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Hibernate<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">HTML5<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">JSTL<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">JUnit<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Microsoft Office<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Microsoft SQL Server<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Oracle Clusterware<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Oracle DBA<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Oracle Grid<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Oracle RAC<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">PL/SQL<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">PostgreSQL<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Redes informáticas<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">SAP Basis<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">SAP MM<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Servicios de acceso remoto<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">SQLite<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Test unitario<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Virtualización<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">VMware<span class="badge badge-info text-white ml-2">2</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Windows Server<span class="badge badge-info text-white ml-2">2</span></span>
                            <!--Nivel Bajo-->
                            <span class="badge badge-custom bg-gris-04 mt-3">API<span class="badge badge-info text-white ml-2">1</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Contaplus<span class="badge badge-info text-white ml-2">1</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Farmatic<span class="badge badge-info text-white ml-2">1</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">JavaScript<span class="badge badge-info text-white ml-2">1</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Oracle VM<span class="badge badge-info text-white ml-2">1</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">Postman<span class="badge badge-info text-white ml-2">1</span></span>
                            <span class="badge badge-custom bg-gris-04 mt-3">REST<span class="badge badge-info text-white ml-2">1</span></span>
                        </div>
                    </div>
                </div>
                <!--Fin ficha Exp 01-->
            </div>
            <!--Fin cuerpo-->
        </div>
        <!--Fin pestaña de Conocimientos-->
        <!--------------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------------->
        <!--Pestaña de Idiomas-->
        <div class="card customShadow">
            <!--Cabecera-->
            <div class="card-header card-header-custom bg-gris-0" id="headingCinco">
                <button class="boton custom-color-nav font-italic" data-toggle="collapse" data-target="#collapseCinco" aria-expanded="true" aria-controls="collapseCinco">
                    Idiomas
                </button>
            </div>
            <!--Fin cabecera-->
            <!--Cuerpo-->
            <div id="collapseCinco" class="collapse" aria-labelledby="headingCinco" data-parent="#accordion">
                <div class="card-body">
                    <div class="flexcont borde shadow">
                        <div class="w-100 table-responsive p-3 cml-3 cmr-3">
                            <table class="table texto mt-0">
                                <thead>
                                  <tr>
                                    <th class="border-top-0" scope="col"></th>
                                    <th class="border-top-0 text-secondary" scope="col">Hablado</th>
                                    <th class="border-top-0 text-secondary" scope="col">Escrito</th>
                                    <th class="border-top-0 text-secondary" scope="col">Leído</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th class="text-secondary" scope="row">Español</th>
                                    <td>Nativo</td>
                                    <td>Excelente</td>
                                    <td>Excelente</td>
                                  </tr>
                                  <tr>
                                    <th class="text-secondary" scope="row">Ingles</th>
                                    <td>Básico</td>
                                    <td>Alto</td>
                                    <td>Alto</td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
            
    
                    </div>    
                </div>
            </div>
            <!--Fin cuerpo-->
        </div>
        <!--Fin pestaña de Idiomas-->
        <!--------------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------------->
        <!--Pestaña de Otros datos-->
        <div class="card customShadow">
            <!--Cabecera-->
            <div class="card-header card-header-custom bg-gris-0" id="headingSeis">
                <button class="boton custom-color-nav font-italic" data-toggle="collapse" data-target="#collapseSeis" aria-expanded="true" aria-controls="collapseSeis">
                    Otros datos
                </button>
            </div>
            <!--Fin cabecera-->
            <!--Cuerpo-->
            <div id="collapseSeis" class="collapse" aria-labelledby="headingSeis" data-parent="#accordion">
                <!--Ficha Otros 01-->
                <div class="card-body">
                    <div class="flexcont borde shadow">
                        <div class="cml-3 p-3">
                            <p class="texto mt-0">Carnet conducir: <span class="text-secondary texto-datos">Tipo B</span></p>
                            <p class="texto">Vehiculo propio:<span class="text-secondary texto-datos">Si</span></p>
                            <p class="texto">Permiso de trabajo:<span class="text-secondary texto-datos">Unión Europea</span></p>
                            <p class="texto">Disponibilidad para viajar:<span class="text-secondary texto-datos">Depende de las condiciones</span></p>
                            <p class="texto">Disponibilidad a cambiar de residencia:<span class="text-secondary texto-datos">Depende de las condiciones</span></p>
                        </div>
                    </div>
                </div>
                <!--Fin ficha Otros 01-->
            </div>
            <!--Fin cuerpo-->
        </div>
        <!--Fin pestaña de Otros datos-->
    </div>
</div>


{% endblock %}